<form action="/event/{{_id}}/eventUpdate" method="POST">
<input type="date" name="date" placeholder="date" value="{{calendarDate}}">
<input type="text" name="description" placeholder="description" value="{{description}}">
<input type="text" name="location" placeholder="location" value="{{location}}"> 
<button type="submit">Update event</button>
</form>
