<form action="/event/eventCreate" method="POST">
<input type="date" name="date" placeholder="date">
<input type="text" name="description" placeholder="description">
<input type="text" name="location" placeholder="location"> 
<button type="submit">Create event</button>
</form>
